{%extends 'base.html'%}

{%block 'about' %}
    <div class="card w-100 mt-2 text-center" style="height: 100vh;">
      <div class="card-body">
          <h1 class="card-title">Contact us </h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, saepe porro esse atque officia assumenda nobis optio ratione delectus vero consequatur eaque ullam autem, ut repellat minus accusamus asperiores excepturi? Magni perferendis assumenda mollitia voluptatem praesentium dignissimos adipisci at atque consequatur ratione aut delectus id cupiditate dolor porro quaerat corporis enim nostrum est, odio nihil excepturi sequi ad. Necessitatibus, eos distinctio. Voluptates, asperiores totam ullam laboriosam deleniti veritatis alias! Minus error totam dolorum esse maiores officia temporibus quo omnis, explicabo eveniet eum vero necessitatibus commodi provident, tempora tenetur velit sequi blanditiis! Laborum iusto pariatur id ut eligendi atque vel quisquam.</p>
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
      </div>
  </div>
{% endblock %}